# core app
plotly==5.7.0
dash==2.3.1
dash-bootstrap-components==1.1.0

# scraper
webcolors==1.11.1
bitstruct==8.13.0
requests==2.27.1
selenium-wire==4.6.3

# libs: general
git+https://github.com/qdbp/py9lib.git@c7df26e
xdg

# libs: geo
zipcodes==1.1.2
reverse_geocoder==1.5.1
geopy==2.2.0

# libs: data
pandas
numba

# dev
-r requirements-dev.txt