-e ../py9lib

profilehooks

shapely
plotly
dash
dash-bootstrap-components
zipcodes
reverse_geocoder
geopy
seaborn
numba

click
tqdm

matplotlib
scikit-learn
numpy
webcolors
pandas

aiohttp[speedups]

-r requirements-dev.txt