# core app
plotly==4.13.0
dash==1.17.0
dash-bootstrap-components==0.10.7

# scraper
tqdm==4.54.0
webcolors==1.11.1
aiohttp[speedups]==3.7.3

# libs:
git+https://github.com/qdbp/py9lib.git@c7df26e


# libs: geo
zipcodes==1.1.2
reverse_geocoder==1.5.1
geopy==2.0.0

# libs: data
pandas==1.1.4
numpy==1.19.4
numba==0.52.0

# dev
-r requirements-dev.txt