/* core styling */

:root {
    --img: 0 2px;
    --skmg: 3px;
    --2skmg: 6px;
    --br: 4px;
}

#_sk_div_root {
    height: calc(100% - .25rem);
    width: calc(100% - .25rem);
    padding: 0;
    margin: var(--skmg);
    border: none;
    box-shadow: 0 0 .15rem .15rem #dddddd;
    overflow: hidden;
}

#_sk_div_root > .sk_div {
    border: 1px solid #ddf;
}

.sk_div {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: 2px;
}

/* TOP LEVEL BOXES */
/* top row */
#_sk_div_slider_box {
    padding-left: .25rem;
    width: 20%;
    height: 50%;
    top: 0;
}

#_sk_div_slider-mpg_box {
    width: 25%;
    height: 100%;
    top: 0;
}

#_sk_div_slider-price_box {
    width: 25%;
    height: 100%;
    left: 25%;
    top: 0;
}

#_sk_div_slider-mileage_box {
    width: 25%;
    height: 100%;
    left: 50%;
    top: 0;
}

#_sk_div_slider-year_box {
    width: 25%;
    height: 100%;
    left: 75%;
    top: 0;
}

#_sk_div_top_middle_container {
    width: 20%;
    height: 50%;
    left: 20%;
    top: 0;
}

#_sk_div_loc_picker_box {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#_sk_div_info_box {
    width: 60%;
    height: 20%;
    bottom: 0;
    right: 0;
}

.slider_icon {
    width: 100%;
    height: 10%;
}

.slider_icon p {
    position: absolute;
    height: 1.5rem;
    top: calc(50% - .75rem);
    width: 100%;
    margin: 0;
    text-align: center;
}

.slider_box .slider {
    width: 100%;
    height: 90%;
    top: 10%
}

.slider > div {
    padding: 1rem 1rem !important;
    height: 100% !important;
}

#input-max-distance {
    height: 50px;
    margin: 2px 2px;
    padding-top: 5px !important;
    width: calc(100% - 4px);
}

/* bottom row */
#_sk_div_mmt_box {
    width: 40%;
    height: 50%;
    bottom: 0;
    left: 0;
}

#_sk_div_mmt_box > .sk_div {
    padding-top: 0;
    padding-bottom: 0;
}

/* SUBUNITS */
/* mmt subunits */
#_sk_div_mm_picker {
    width: 50%;
    height: 100%;
    left: 0;
}

#_sk_div_mmt_matrix {
    width: 50%;
    height: 100%;
    left: 50%;
}

#_sk_div_mmt_matrix > div {
    margin-top: 0;
    margin-bottom: 0;
}

#input-matrix-toasts::-webkit-scrollbar {
    display: none;
}

#input-matrix-toasts {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


#input-matrix-button {
    height: 40px;
    width: calc(100% - 4px);
    margin: 0px 2px 5px 2px;
}

#input-matrix-toasts {
    top: 40px;
    height: calc(100% - 65px);
    margin-top: 5px;
    overflow-y: scroll;
}

#input-matrix-toasts .alert {
    margin-bottom: 0.25rem;
}

#input-matrix-toasts .refine_container {
    border-radius: var(--br);
    margin: 1px 2px;
    width: calc(100% - 4px);
    box-shadow: none;
}

#_sk_div_scatter_box {
    width: 60%;
    height: 80%;
    left: 40%;
    top: 0;
}

#scatter_box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#scatter_box > .alert {
    position: absolute;
    height: 45px;
    width: 33.33%;
    top: 62.5%;
    left: 0;
    text-align: center;
}

#scatter-price-mileage {
    height: 100%;
}


.refine_container {
    width: 98%;
    margin: 0 1% 0 1%;
    border: 1px solid #ffdddd;
    border-radius: 0.3%;
    max-width: none;
}

.year-refine {
    border: 1px solid #ddffdd;
}

.trim-refine {
    border: 1px solid #ddddff;
}

.checklist-container-year {
    float: left;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
}

.checklist-container-trim {
    float: right;
    width: 75%;
    right: 0;
    top: 0;
}

input[type="checkbox"] {
    margin-left: 30px;
}

.info_box {
    width: 98%;
    margin: 1%;
}

.input-group {
    margin: 2px;
    width: calc(100% - 4px);
}

.dash-dropdown {
    margin: 2px;
}

/* global styles */
.alert {
    margin: 0 2px;
    /* margin: 0.1rem 0; */
    padding: 0.5rem 1.25rem;
}

.hidden {
    display: none;
}
