/* core styling */

:root {
    --img: 0 2px;
    --skmg: 3px;
    --2skmg: 6px;
    --br: 4px;
    --input-box-margin: 2px;
    --input-box-padding: 3px 15px;
    --input-box-width: calc(100% - 2 * var(--input-box-margin));
    --left-input-width: 20%;
    --right-input-width: 20%;
    --top-input-height: 50%;
    --bottom-input-height: 50%;

    --mmt-grid: 20px;
    --mmt-disable-width: 35px;
    --mmt-span-width: 75px;
}

#_sk_div_root {
    height: calc(100vh - var(--2skmg));
    width: calc(100vw - var(--2skmg));
    min-height: calc(720px - var(--2skmg));
    min-width: calc(1280px - var(--2skmg));
    padding: 0;
    margin: var(--skmg);
    border: none;
    box-shadow: 0 0 .15rem .15rem #dddddd;
    overflow: hidden;
}

#_sk_div_root > .sk_div {
    border: 1px solid #eee;
    padding-top: 0;
}

.sk_div {
    position: absolute;
    margin: 0;
    padding: 2px 0 0;
}

/* CONTROL SIDE */

/* top row */
#_sk_div_slider-box {
    width: var(--left-input-width);
    height: var(--top-input-height);
    top: 0;
}

#_sk_div_slider-box .sk_div {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 25%;
    height: 100%;
    bottom: 0;
}

.slider.badge {
    position: absolute;
    width: 80%;
    height: 20px;
    line-height: 15px;
}

.slider.badge + div {
    position: absolute;
    padding-top: 15px !important;
    bottom: 0;
    height: calc(100% - 20px) !important;
    max-height: calc(100% - 20px) !important;
}

#_sk_div_slider-mpg {
    left: 0;
}

#_sk_div_slider-price {
    left: 25%;
}

#_sk_div_slider-mileage {
    left: 50%;
}

#_sk_div_slider-year {
    left: 75%;
}

#_sk_div_top_selectors_box {
    width: var(--right-input-width);
    height: var(--top-input-height);
    left: var(--left-input-width);
    top: 0;
}


#input-max-distance {
    height: 50px;
    margin: 2px 2px;
    padding-top: 5px !important;
    width: calc(100% - 4px);
}

#input-max-distance .slider > div {
    padding: 1rem 1rem !important;
    height: 100% !important;
}

button.toggle-btn {
    margin: 2px;
    height: 18px !important;
    padding: 0 5px !important;
    vertical-align: middle !important;
    font-size: x-small;
    border-width: 0;
}
button.toggle-btn-dummy {
    border-radius: 0;
}


#plot-info-flex {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#input-matrix-button {
    width: var(--input-box-width);
    margin: var(--input-box-margin);
    padding: var(--input-box-padding);
}

/* bottom row */
/* left boxes */
#_sk_div_ll_input_box {
    width: var(--left-input-width);
    height: var(--bottom-input-height);
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
#_sk_div_ll_input_box .sk_div {
    position: relative;
}

#_sk_div_ll_info {
    position: absolute !important;
    width: 100%;
    bottom: 0;
}

#alert-site-info {
    position: absolute !important;
    width: var(--input-box-width);
    bottom: 0;
}

/* mmt boxes */
#_sk_div_mmt {
    width: var(--right-input-width);
    height: var(--bottom-input-height);
    left: var(--left-input-width);
    display: flex;
    flex-direction: column;
    bottom: 0;
    overflow-y: auto;
}
#_sk_div_mmt .card-body {
    padding: 10px 0 0 0;
    height: 100%;
}
#mmt-card-group
{
    display: inline-block;
    margin: var(--input-box-margin);
    width: var(--input-box-width);
}
#mmt-card-group div.card {
    margin-bottom: var(--input-box-margin);
}
.mmt-table-holder {
    overflow-y: auto;
    border-right: solid 20px rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0 2.5% 0 2.5%;
}


/* GRAPH SIDE */
#_sk_div_scatter-box {
    width: calc(100% - var(--right-input-width) - var(--left-input-width));
    left: calc(var(--right-input-width) + var(--left-input-width));
    height: 80%;
    top: 0;
}
#scatter-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#_sk_div_info-box {
    position: absolute;
    width: calc(100% - var(--right-input-width) - var(--left-input-width));
    height: 20%;
    left: calc(var(--right-input-width) + var(--left-input-width));
    bottom: 0;
    right: 0;
}

#scatter-price-mileage {
    height: 100%;
    padding: 20px 20px 10px 10px;
}

.info-box {
    width: 100%;
}

.input-group {
    margin: var(--input-box-margin);
    width: var(--input-box-width);
}

.dash-dropdown {
    margin: var(--input-box-margin);
}

/* global styles */
.alert {
    margin: var(--input-box-margin);
    padding: var(--input-box-padding);
    text-align: center;
}

.hidden {
    display: none;
}

.dash-callback-dag--container {
    width: 30vw !important;
}